# 디폴트 무시된 파일
/shelf/
/workspace.xml
# 에디터 기반 HTTP 클라이언트 요청
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# .idea 파일
/misc.xml
/modules.xml
/vcs.xml
/파이썬과 40개의 작품들.iml

#.idea/inspectionProfiles 파일
/inspectionProfiles
